.header {
  padding-top: 55px;
  padding-bottom: 35px;
}

.header__title {
  margin: 0 0 28px;
}

@media (max-width: 768px) {
  .header {
    padding-top: 25px;
  }

  .header__title {
    margin-bottom: 10px;
  }
}
