.menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  list-style: none;
}

.menu li:not(:last-child) {
  margin-right: 50px;
}

.menu a {
  text-decoration: none;
}

@media (max-width: 1040px) {
  .menu li:not(:last-child) {
    margin-right: 35px;
  }
}

@media (max-width: 900px) {
  .menu li:not(:last-child) {
    margin-right: 18px;
  }
}
