.sales {
  padding-top: 30px;
  padding-bottom: 30px;
  color: var(--basic-black);
  background-color: var(--light-gray);
  background-image:
    radial-gradient(
      circle,
      var(--basic-white) 352px,
      var(--light-gray) 352px);
  overflow: hidden;
}

.sales__inner {
  position: relative;
  width: 308px;
  margin: 0 auto;
  text-align: center;
  border-radius: 50%;
}

.sales__title {
  margin-bottom: 25px;
}

.sales__list {
  margin: 0 0 30px;
  padding: 0;
  list-style: none;
}

.sales__list li:not(:last-child) {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.sales__list li:not(:last-child)::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100px;
  height: 1px;
  margin-left: -50px;
  background-color: var(--light-gray);
}

.sales__promo {
  margin: 0 0 3px;
  font-size: 25px;
  line-height: 1.2;
  font-family: "Rozha One", Georgia, serif;
}

.sales__description {
  margin: 0;
}
