:root {
  --basic-white: #FFFFFF;
  --basic-black: #000000;
  --dark-neutral: #4C4B53;
  --light-gray: #F7F7F7;
  --dark-gray: #575757;
  --accent: #FF7931;
  --transition-time: 0.2s;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-width: 1200px;
  font-size: 14px;
  line-height: 1.2;
  font-family: "Montserrat", Arial, sans-serif;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
